.details{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
    margin-top: 2.6rem;
}
@media (max-width: 768px) {
    .details {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        align-items: center;
        justify-content: center;
    }
}